*.json
*-key.json
*service-account*.json
.env
credentials/
/data/raw/
/data/processed/
/data/features/
/data/
*.dvc/tmp
*.dvc/cache
config/
.dvc/
.env
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
ai_supply_chain_venv/
venv/
env/
.venv/
.ipynb_checkpoints/
*.ipynb
mlruns/
mlflow.db
*.bson
*.mongodump
.vscode/
*.code-workspace
.DS_Store
Thumbs.db
desktop.ini
*.log
logs/
airflow/logs/
airflow/plugins/
airflow.cfg
airflow.db
standalone_admin_password.txt
unittests.cfg
/airflow/dags/__pycache__/
.airflow/
**/__pycache__/
**/data/ 
.DS_Store
venv/
